.SearchBarDiv {
    /* background: #F0DC82; */
    padding: 20px 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    /* margin-bottom: 50px; */
}


.Search {
    border: none;
    outline: none;
    height: 20px;
    font-size: 16px;
}

.SearchBar span {
    color: #8D8D8D;
}

.SearchBar select {
    width: 180px;
    border: none;
    outline: none;
}


.css-1869usk-MuiFormControl-root {
    width: 200px;
}

/* Job Category */

.CategoryItem {
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #000000;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #E2E2E2;


}

.CategoryItem.active {
    border-bottom: 3px solid #2B1E44;
    color: #2B1E44;
}

.CategoryItem div {
    font-size: 14px;
    font-weight: 500;
    /* min-height: 50px; */
}

.CategoryItem .CategoryLogo {
    width: 25px;
    height: 25px;
}

.recommendJobsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* position: relative; */

}

.jobItem {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
}

.jobInformation {
    padding: 10px 20px;
    padding-left: 50px;
    width: 700px;
    background: white;
    border-radius: 20px;
    margin-left: 70px;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    /* box-shadow: 0px 4px 5px 5px rgba(218, 232, 250, 0.75); */

}

.jobInformation h3 {
    margin: 0px;
    font-weight: 500;
    font-size: 16px;

}

.jobLogo {
    /* border-radius: 10px;
    position: absolute;
    left: 5%;
    top: 14%;
    width: 60px;
    height: 60px;
    background: white; */
    /* box-shadow: 0 9px 16px 0 rgb(0 106 194 / 20%); */

}

.jobInformation span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #838383;
}

/*About us */
/* .aboutUsWrapper {
    padding: 30px;
    min-height: 400px;
    background: #E5521D;
} */

.aboutUsInWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 10%; */
    flex-wrap: wrap;
}

.description {
    min-width: 50%;
    padding: 50px 20px;
    line-height: 1.5;
    text-align: justify;
    font-weight: 600;
    color: #ffffff;
}

.secDesc {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.secDesc .secDescItem {
    border-radius: 10px;
    width: 10px;
    min-width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.OurPartners,
.jobYahan {
    /* background-color: #E7E7E7; */
    padding: 30px 0px;
}

.OurPartnersWrapper {
    /* width: 1100px;
    margin: 0 auto; */
    border-top: 2px solid #B7B7B7;
    border-bottom: 2px solid #B7B7B7;
    padding: 20px 0px;
}

.partnerCompany img {
    width: 100%;
    height: 100%;
}

.partnerCompany {
    width: 200px;
    height: 80px;
    background: #F0DC82;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partnersCo {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.partnersCoSec {
    display: flex;
    gap: 50px;
    margin-left: 100px;
    margin-top: 50px;
}

.filter {
    background: #D9D9D9;
    width: 100%;
}

.filterWrapper {
    /* padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap; */
}

/* Why Job Yahan */
.jobYahanWrapper {
    width: 1100px;
    margin: 0 auto;
    border-top: 2px solid #B7B7B7;
    border-bottom: 2px solid #B7B7B7;
    padding: 20px 0px;
    height: 400px;
    background-repeat: no-repeat;
    background-position-y: bottom
}

.jobYahan .job_description {
    width: 50%;
    padding: 50px 20px;
    font-size: 23px;
    line-height: 1.5;
    text-align: justify;
    font-weight: 600;
    float: right;
}

.css-1869usk-MuiFormControl-root {
    min-width: 170px;
}

.css-1869usk-MuiFormControl-root {
    margin: 0px !important;
}

.filter .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
    padding: 0px;
    padding-right: 24px;
    font-size: 14px;
}

.logoutWrapper {
    border: 3px solid #2B1E44;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 40px;
}

.logoutWrapper .Icondiv {
    display: flex;
    align-items: 10px;
    height: 41px;
    width: 50px;
    background: #2B1E44;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.logoutWrapper .userProfile {
    display: flex;
    align-items: 50px;
    align-items: center;
    justify-content: center;
    width: 50px;
    cursor: pointer;
}

.homeFSec {
    min-height: calc(100vh - 140px);
}

.logoutMenu {
    position: absolute;
    top: 82px;
    z-index: 343;
    right: 157px;
}

/* .select{
    border: 1px solid #a09d9d !important;
    width: 95% !important;
    padding: 3px !important;
    margin: 10px 0px;
    color: #a09d9d;
} */

.css-1869usk-MuiFormControl-root {
    /* width:100% !important; */
}

/* .MuiMenu-list{
    background: #E2E2E2 !important;
} */

/* ReviewItem */
.reviewItem {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    background: #FAFAFA;
    padding: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    /* height: 680px; */
}

.reviewWrapper {
    background: #ffffff;
    border-radius: 10px;
    width: 530px;
    position: relative;
    min-height: 225px;
}

.carousel .control-dots .dot {
    background: #2B1E44;
    width: 20px;
    height: 20px;
}

.home-banner-section .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hbs-right-section-wrapper,
.hbs-left-section-wrapper {
    width: 50%;
}

.hbs-right-section {
    max-width: 745px;
    padding-left: 20px;
    margin-left: auto;
    position: relative;
    z-index: 2;
}

.hbs-right-section .rs-title-small {
    font-size: 20px;
    font-weight: 500;
    color: #17171d;
    margin-bottom: 30px;
}

.hbs-right-section .rs-title-large {
    font-size: 66px;
    line-height: 72px;
    font-weight: 500;
    color: #17171d;
    margin-bottom: 30px;
}

.hbs-right-section .rs-description {
    font-size: 18px;
    margin-bottom: 30px;
}

.home-banner-section .gradient-text {
    font-size: 150px;
    line-height: 110px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 800;
    text-transform: uppercase;
    padding-right: 200px;
    background: -webkit-linear-gradient(top, rgba(192, 213, 240, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(192, 213, 240, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}