body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root {
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Montserrat', sans-serif;
}

/* Header */
nav {
  padding: 0px 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.HeaderMenus {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3483;
  height: 100vh;
}

.info-item {
  display: flex;
  margin: 10px 0px;
}

.info-item .MuiSvgIcon-fontSizeMedium {
  margin-right: 10px;
}



.login-wrapper,
.info-wrapper,
.postjob-wrapper {
  padding: 2rem;
  min-height: 32rem;
  box-shadow: 0 9px 16px 0 rgb(0 106 194 / 20%);
  background-color: white;
  min-height: fit-content;
  min-width: 35%;
  border-radius: 10px;
  margin-top: 20px;
  /* width: 25%; */
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}



.info-title {
  font-size: 25px;
  font-weight: 600;
  margin: 5px 0px;
  text-align: center;
}

.loginForm span {
  display: flex;
}

.loginForm button {
  display: block;
  margin: 10px auto;

}

.forgotPassword {
  justify-content: flex-end;
  color: blue;
}

.OTPLogin,
.OR {
  justify-content: center;
  color: blue;
}



/* Profile Page */
.UserProfileWrapper {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.6s linear;
  z-index: 78947;
}

.UserProfile {
  width: 350px;
  background: white;
  height: 100vh;
  padding: 40px 28px 28px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(234, 241, 245);
  border-radius: 16px 0px 0px 16px;
  position: fixed;
  top: 0px;
  right: 0px;
}

.userProfileImage {
  width: 100%;
  border-radius: 50%;
  border: 6px solid rgb(24, 193, 163);
}

.updateProfile {
  color: #457eff;
  display: block;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-top: 10px;
  text-decoration: none;
  margin: 0px;
}

.updatedProfileProgress {
  background: green;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  left: 57px;
  top: 120px;
}

.performanceItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3e1ea;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
  line-height: 25px;
}

.viewAll {
  color: blue;
  font-weight: 600;
}

.Settings div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
  cursor: pointer;
}

.Settings div svg {
  width: 20px;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  background: none !important;
}

.css-1869usk-MuiFormControl-root {
  width: 100% !important;
}



/*form Informatin */
.form-information {
  font-size: 14px;
  color: green;
}


.employer-register-page-wrapper {
  padding: 2rem;
  box-shadow: 0 9px 16px 0 rgb(0 106 194 / 20%);
  background-color: white;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-signup-form,
.password-generation-form,
.mobile-opt-verification-form,
.hr-information-form,
.company-information-form {
  margin: 30px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-signup-wrapper,
.password-generation-wrapper,
.mobile-opt-verification-wrapper,
.hr-information-wrapper,
.company-information-wrapper {
  width: 100%;
}

.signup-with-google,
.signin-with-google {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

}

.signup-with-google-btn,
.signin-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  cursor: pointer;

}


.company-information-form .input-item .css-1869usk-MuiFormControl-root,
.postjobForm1 .input-item .css-1869usk-MuiFormControl-root {
  padding: 7px 10px;
  margin: 10px 0px;
  width: 93%;
  border-radius: 10px;
  border: none;
  background-color: #f2f4f8;
  outline: none;
  width: 93% !important;
}

.company-information-form .input-item .MuiSelect-select {
  padding: 0px !important;
  font-size: 13px !important;
  width: 80% !important;
}

.company-information-form .input-item .css-1869usk-MuiFormControl-root .css-ag1hyn-MuiInputBase-root-MuiInput-root-MuiSelect-root {
  font-size: 14px;
}

.employerRegisterPage {
  height: 100vh;
  background: #FAFAFA;
}

/* User Signup */

.UserRegistrationPage {
  height: 100%;
  background: #FAFAFA;
  padding: 20px 0px;
}

.user-register-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-registration-wrapper {
  padding: 2rem;
  box-shadow: 0 9px 16px 0 rgb(0 106 194 / 20%);
  background-color: white;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#resume {
  visibility: hidden;
}

.upload_file {
  background: red;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
}

/* Post job */
.JobDescriptionPage,
.PostJobPage,
.AppliedCandidatePage,
.candidateProfile {
  background: linear-gradient(231.41deg, #FDFCFF 13.04%, #FAF7FE 57.79%);
}

.postjobForm .input-item .css-1869usk-MuiFormControl-root,
.postjobForm .input-item .css-1869usk-MuiFormControl-root {
  padding: 7px 10px;
  margin: 10px 0px;
  width: 93%;
  border-radius: 10px;
  border: none;
  background-color: #f2f4f8;
  outline: none;
  width: 93% !important;
}

.postjobForm .input-item .MuiSelect-select {
  padding: 0px !important;
  font-size: 13px !important;
  width: 80% !important;
}

.postjobForm Button {
  display: block;
  margin: 0 auto;
}

.PostJobForm1 .css-1s2u09g-control {
  padding: 10px !important;
  border-radius: 11px !important;
}

/*tags */
.tag-wrapper.ReactTags__tag {
  opacity: 1;
  cursor: move;
  background: #2B1E44;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;

}

.ReactTags__remove {
  background: none;
  border: none;
  color: white;
}

.ReactTags__selected {
  padding: "10px 0px" !important;
  margin: "20px 0px" !important;
}



.css-1pahdxg-control:hover {
  border: 2px solid #f2f4f8 !important;
  outline: none !important;
  box-shadow: none !important;
  width: 97% !important;
  border-radius: 10px !important;
  font-size: 13px !important;

}

.css-1pahdxg-control {
  border: 2px solid #f2f4f8 !important;
  outline: none !important;
  box-shadow: none !important;
  width: 97% !important;
  border-radius: 10px !important;
  font-size: 13px !important;
}


.jobDescriptionWrapper {
  padding: 40px;
  background: white;
  width: 40%;
  /* min-height: 100vh; */
  border-radius: 16px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  float: right;
  gap: 20px;
  height: 100vh;
}

.jobDescriptionWrapper .items {
  background: white;
  border-radius: 20px;
  padding: 20px;
  /* min-height: 70px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  box-shadow: 0 9px 16px 0 rgb(0 106 194 / 20%);
  position: relative;
}

.jobDescriptionLogo {
  border-radius: 10px;
  position: absolute;
  width: 70px;
  height: 70px;
  right: 10%;
  top: 50%;
}

.employer-left-Side {
  height: fit-content;
  width: 20%;
  margin: 60px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.employerProfile {
  box-shadow: 0 9px 16px 0 rgb(0 106 194 / 20%);
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
}

.menus {
  box-shadow: 0 9px 16px 0 rgb(0 106 194 / 20%);
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
}

.userInformation {
  display: flex;
  align-items: center;
  gap: 5%;
}

.employerInformation .name {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}

.all-tab-information {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 68%;
  align-items: center;
  justify-content: center;
}

.profileImage {
  border-radius: 50%;
  width: 100px;
  position: absolute;
  top: -80px;
}

/* Update Profile */
.updateProfilePage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddExperienceEducation {
  width: 100%;
  position: fixed;
  top: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.AddExperienceEducationWrapper {
  width: 35%;
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.EducationDiv {
  padding: 10px;
  /* background: grey; */
  border-radius: 10px;
  margin: 10px 0px;
  color: white;
  background: #2B1E44;
}

/* Category Div */
.MainCategoryDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.CategoryColumn {
  width: 300px;
}

.JobDescriptionModal {
  display: none;
}

.JobDescriptionModal.active {
  display: block;
}

#mui-component-select-role,
#mui-component-select-experience,
#mui-component-select-job_type,
#mui-component-select-job_working_type,
#mui-component-select-salary_type,
#mui-component-select-association_type,
#mui-component-select-industry_type {
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  padding: 10px 0px;
  /* color: #bebbbb; */
}

/* .react-select__placeholder {
  color: #bebbbb !important;
} */

#mui-component-select-role,
#mui-component-select-experience,
#mui-component-select-city::placeholder {
  color: #8892A3;
}

#mui-component-select-role-error,
#mui-component-select-experience-error,
#mui-component-select-city-error {
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid #d32f2f;
  padding: 10px 0px;
  color: #8892A3;
}

.carousel .thumbs-wrapper {
  display: none !important;
}

/* Home Page Pagination */
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background: #2B1E44 !important;
  color: #FFFFFF !important;
}

/*Employer Dashboard account setting */

.AccountMenu,
.SettingMenu,
.MenuSelected {
  color: #4E3A67;
  font-weight: 600 !important;
}

#permanant_address,
#current_location,
#date_of_birth,
#starting_year,
#ending_year,
#address,
#currAddress,
#current_address {
  width: 97%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

/* User Perferences page */
.JOBPERFERENCES {
  padding: 10px;
  border: 2px solid #E2E2E2;
  width: fit-content;
  cursor: pointer;
}

.perferencesactive {
  background: #445578;
  color: #FFFFFF;
}

.CandidateJob::-webkit-scrollbar {
  width: 5px;
}

.CandidateJob::-webkit-scrollbar-thumb {
  background: #888;
}

.CandidateJob::-webkit-scrollbar-track {
  background: #f1f1f1;
}


.HrInformationUpdateForm .input-item input {
  border: none;
  margin: 10px 0px;
  font-size: 14px;
  outline: none;
}

.ChangePasswordForm .input-item input {
  border: none;
  margin: 10px 0px;
  font-size: 14px;
  outline: none;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px !important;
}

/*form font-family */
.MuiInputBase-input .MuiOutlinedInput-input .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  border-radius: 11px;
  font-size: 16px !important;
  font-family: 'Montserrat' !important;
  font-weight: 500 !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input::placeholder {
  color: #B1B1B1 !important;
}

.Search::placeholder {
  color: #AEA4BB;
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 600;
}

.CompanyInformationForm .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background: #EAEAEA;
}

.ProfessionalDetailForm .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background: #EAEAEA;
}

.workHistoryForm .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background: #EAEAEA;
}

.PostJobForm1 .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background: #EAEAEA;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-radius: 11px !important;
}

.PersonalInformationForm .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background: #EAEAEA;
}

.CompanyInformationForm .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-radius: 11px;
}

#mui-component-select-company_type,
#mui-component-select-city {
  font-family: "Montserrat";
}

/*Removing the above hint form the input text */
.CompanyInformationForm .css-14lo706 {
  display: none !important;
}

.ProfessionalDetailForm .css-14lo706 {
  display: none !important;
}

.PostJobForm1 .css-14lo706 {
  display: none !important;
}

.PersonalInformationForm .css-14lo706 {
  display: none !important;
}

/*--------------------------------------------*/

.JobSearchMenu .css-10hburv-MuiTypography-root {
  font-size: 20px !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700;
  width: max-content;
  color: #BDB5C7
}

.SalarySlider .css-14pt78w-MuiSlider-rail {
  background-color: #E7D4FF;
  height: 2px;
}

.SalarySlider .css-eg0mwd-MuiSlider-thumb {
  background-color: #4E3A67;
}

.SalarySlider .css-1gv0vcd-MuiSlider-track {
  background-color: #E7D4FF;

}

#mui-component-select-association_type,
#mui-component-select-job_type,
#mui-component-select-industry_type {
  border-bottom: none;
}

.Mui-selected {
  font-weight: 700 !important;
  /* width: max-content; */
  color: #4E3A67 !important;
  border-bottom: none !important
}

.fixedDiv {
  position: fixed;
  top: 10px
}